.whatsappContainer {
  position: fixed;
  top: 11%;
  left: 5%; /* Adjust for responsiveness */
  z-index: 1000;
}

.whatsappButton {
  display: flex;
  align-items: center;
  padding: 8px 14px;
  background-color: #25D366;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 25px; /* Rounded edges */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.whatsappButton:hover {
  background-color: #1ebe57;
  transform: scale(1.05);
}

.whatsappIcon {
  font-size: 22px; /* Adjust icon size */
  margin-right: 8px; /* Space between icon and text */
}

@media (max-width: 768px) {
  .whatsappButton {
    padding: 6px 10px;
    font-size: 12px;
  }
  .whatsappIcon {
    font-size: 18px;
    margin-right: 6px;
  }
}
